    html {
        box-sizing: border-box;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        overflow-x: hidden
    }

    body,
    html {
        font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7;
        background-color: #000000b0
    }

    body {
        margin: 0
    }

    *,
    :after,
    :before {
        box-sizing: inherit
    }

    article,
    footer,
    main,
    section {
        display: block
    }

    a {
        background-color: transparent
    }

    a:active,
    a:hover {
        outline-width: 0
    }

    b,
    strong {
        font-weight: bolder
    }

    img {
        border-style: none
    }

    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
        border: 0;
        border-top: 1px solid #eee;
        margin: 20px 0
    }

    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit
    }

    img {
        vertical-align: middle
    }

    a {
        color: #55cefb
    }

    :disabled * {
        pointer-events: none
    }

    .tag {
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center
    }

    .display-container {
        position: relative
    }

    .container:after,
    .container:before,
    .row-padding:after,
    .row-padding:before {
        content: "";
        display: table;
        clear: both
    }

    .third,
    .twothird {
        float: left;
        width: 100%
    }

    @media (min-width:601px) {
        .third {
            width: 33.33333%
        }

        .twothird {
            width: 66.66666%
        }
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 980px
    }

    .round {
        border-radius: 4px
    }

    .row-padding,
    .row-padding>.third,
    .row-padding>.twothird {
        padding: 0 8px
    }

    .mgn-top {
        margin-top: 32px
    }

    .mgn-bottom {
        margin-bottom: 16px !important
    }

    .padding {
        padding: 8px 16px !important
    }

    .padding-16 {
        padding-top: 16px !important;
        padding-bottom: 16px !important
    }

    .black {
        color: #fff;
        background-color: #000
    }

    .text-white {
        color: #fff !important
    }

    .tag {
        margin-top: 2px;
        background-color: #ffffffc4;
        color: #000
    }

    h1 {
        font-size: 30px
    }

    h2 {
        font-size: 18px
    }

    h6 {
        font-size: 16px
    }

    h1,
    h2,
    h6 {
        font-weight: 400;
        margin: 10px 0
    }

    .container {
        padding: .01em 16px
    }

    .center {
        text-align: center
    }

    .padding-left-32 {
        padding-left: 16px
    }

    .padding-top-32 {
        padding-top: 32px
    }

    .text-blue {
        color: #55cefb
    }

    .card-4 {
        box-shadow: 0 4px 10px 0 rgba(242, 242, 242, .47), 0 4px 20px 0 rgba(242, 242, 242, .57)
    }